/* Global Styles */
body {
  font-family: 'PT Mono', monospace;
  position: relative;
}
.siz {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.text-white {
  color:#ffffff;
}
.back-black {
  color: #000000;
}
h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Work Sans', sans-serif;
}
/* END GLOBALS */

/* NAVBAR BEGIN */
.navbar-default {
  background: #000000;
  /* border-color: #e7e7e7; */
}
.navbar {
  border: 0;
}
/* Targeting the javascript navbar */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  /* Copied from the inspector */
  color: #ffffff;
  background: transparent;
  /* note to self: the above is for the full finalized solution, while the below is for the part 1 solution. */
  /* color: #555;
    background-color: #e7e7e7; */
}

.navbar-brand h1 {
  font-family: 'Permanent Marker', cursive;
  margin:0;
  font-size: 24px;
  color: #ffffff;
  /* color: #777; */
}

.navbar-brand {
  padding:10px;
}
/* END NAVBAR */

/* BEGIN LANDING PAGE SECTION */
/* Bootstrap navbar has a margin-bottom; set to 0 :: fixed by navbar-fixed-top*/
.home-section {
  /* background food dish */
  /*background-image: url('../img/A-10_of_the_future.jpg');*/
  /* change this to be from UI gradients or some other picture of me*/
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  /* fixed to the window */
  background-size: cover;
  /* cover expands/shrinks image to cover the sixe of the container */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  /* vh= view height */
  display: flex;
  align-items: center;
  /* Aligns the child of this class; i.e. container */
}
div {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}
/* MENU-SECTION */
.menu-section {
  padding-top:60px;
  padding-bottom:60px;
  }
/* Lemon Twist gradient background */
/* background: #3CA55C;   */
/* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);   */
/* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #B5AC49, #3CA55C);  */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* Evening Sunshine */
/* background: #b92b27;  */
/* fallback for old browsers */
 /* background: -webkit-linear-gradient(to right, #b92b27, #1565c0); */
  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #b92b27, #1565c0);  */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


.tab-pane {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* FOOTER / reservation section */
.reservation-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  /* rotated Evening Sunshine */
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b92b27, #1565c0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.circle {
  /* This kinda works, but not what I was hoping */
  /* background-image: url('../img/heroic-pose.png');
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 25%;   */
  height: 90vh;
}
.circle:hover
{
        border-radius:50%;
}

/* END FOOTER / RESERVATION SECTIOn */

/* Small Screens */
@media only screen and (min-width : 768px) {
}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
